# Copyright (C) 2024 Solution Libre
#
# This file is part of Dolibarr with Docker Compose.
#
# Dolibarr with Docker Compose is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Dolibarr with Docker Compose is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Dolibarr with Docker Compose.  If not, see <https://www.gnu.org/licenses/>.

include:
  - component: $CI_SERVER_FQDN/gitlab/components/lint/dockerfile@0.5.0
    inputs:
      stage: linting
  - component: $CI_SERVER_FQDN/gitlab/components/lint/markdown@0.5.0
    inputs:
      stage: linting
  - component: $CI_SERVER_FQDN/gitlab/components/lint/shell@0.5.0
    inputs:
      stage: linting
  - component: $CI_SERVER_FQDN/gitlab/components/changelog/parse@0.1.2

stages:
  - linting
  - build
  - test
  - release

docker compose test:
  stage: test
  script:
    - docker compose --env-file .env.dist config -q

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  cache: []
  needs:
    - parse changelog
    - docker compose test
  rules:
    - if: $CI_COMMIT_TAG
  script: echo "Creating release ${CI_COMMIT_TAG}"
  release:
    tag_name: ${CI_COMMIT_TAG}
    description: release-note.md
